<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  /* 
    fill：填充色
    stroke：描边色
    stroke-width：边框宽度
  */
  .red {
    fill: red;
  }

  .fancy {
    fill: none;
    stroke: black;
    stroke-width: 3pt;
  }
</style>
<body>
  
  <canvas id="canvas"></canvas>
  <!-- SVG 代码都放在顶层标签<svg>之中 -->

  <!-- 1.圆 -->
  <!-- 
    <svg>的width属性和height属性，指定了 SVG 图像在 HTML 元素中所占据的宽度和高度。
    除了相对单位，也可以采用绝对单位（单位：像素）。
    如果不指定这两个属性，SVG 图像默认大小是300像素（宽） x 150像素（高） 
  -->
  <!-- 
    <circle>标签的cx、cy、r属性分别为横坐标、纵坐标和半径，单位为像素。
    坐标都是相对于<svg>画布的左上角原点 
  -->
  <svg width="100%" height="100%">
    <circle id="mycircle" cx="50" cy="50" r="50" />
  </svg>

  <!-- 2.viewBox -->
  <!-- 如果只想展示 SVG 图像的一部分，就要指定viewBox属性 -->
  <!-- <viewBox>属性的值有四个数字，分别是左上角的横坐标和纵坐标、视口的宽度和高度 -->
  <svg width="100" height="100" viewBox="50 50 50 50">
    <circle id="mycircle" cx="50" cy="50" r="50" />
  </svg>

  <!-- 3.不同样式的圆 -->
  <svg width="300" height="180">
    <circle cx="30"  cy="50" r="25" />
    <circle cx="90"  cy="50" r="25" class="red" />
    <circle cx="150" cy="50" r="25" class="fancy" />
  </svg>

  <!-- 4.直线 -->
  <!-- 
    <line>标签的x1属性和y1属性，表示线段起点的横坐标和纵坐标；
    x2属性和y2属性，表示线段终点的横坐标和纵坐标 
  -->
  <svg width="300" height="180">
    <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:5" />
  </svg>

  <!-- 5.折线 -->
  <!-- 
    <polyline>的points属性指定了每个端点的坐标，
    横坐标与纵坐标之间与逗号分隔，点与点之间用空格分隔 
  -->
  <svg width="300" height="180">
    <polyline points="3,3 30,28 3,53" fill="none" stroke="black" />
  </svg>

  <!-- 6.矩形 -->
  <!-- 
    <rect>的x属性和y属性，指定了矩形左上角端点的横坐标和纵坐标；
    width属性和height属性指定了矩形的宽度和高度（单位像素） 
  -->
  <svg width="300" height="180">
    <rect x="0" y="0" height="100" width="200" style="stroke: #70d5dd; fill: #dd524b" />
  </svg>

  <!-- 7.椭圆形 -->
  <!-- 
    <ellipse>的cx属性和cy属性，指定了椭圆中心的横坐标和纵坐标（单位像素）；
    rx属性和ry属性，指定了椭圆横向轴和纵向轴的半径（单位像素） 
  -->
  <svg width="300" height="180">
    <ellipse cx="60" cy="60" ry="40" rx="20" stroke="black" stroke-width="5" fill="silver"/>
  </svg>

  <!-- 8.多边形 -->
  <!-- <polygon>的points属性指定了每个端点的坐标，横坐标与纵坐标之间与逗号分隔，点与点之间用空格分隔 -->
  <svg width="300" height="180">
    <polygon fill="green" stroke="orange" stroke-width="1" points="0,0 100,0 100,100 0,100 0,0"/>
  </svg>

  <!-- 9.路径 -->
  <!-- <path>的d属性表示绘制顺序，它的值是一个长字符串，每个字母表示一个绘制动作，后面跟着坐标 -->
  <!-- 
    M：移动到（moveto）
    L：画直线到（lineto）
    Z：闭合路径 
  -->
  <svg width="300" height="180">
    <path d="
      M 18,3
      L 46,3
      L 46,40
      L 61,40
      L 32,68
      L 3,40
      L 18,40
      Z
    "
    fill="#fff"
    stroke="balck"
    stroke-width="5"
    >
    </path>
  </svg>

  <!-- 10.文本 -->
  <!-- 
    <text>的x属性和y属性，表示文本区块基线（baseline）起点的横坐标和纵坐标。
    文字的样式可以用class或style属性指定 
  -->
  <svg width="300" height="180">
    <text x="50" y="25">Hello World</text>
  </svg>

  <!-- 11.use -->
  <!-- 
    <use>的href属性指定所要复制的节点，x属性和y属性是<use>左上角的坐标。
    另外，还可以指定width和height坐标
  -->
  <svg viewBox="0 0 30 10" xmlns="http://www.w3.org/2000/svg">
    <circle id="myCircle" cx="5" cy="5" r="4"/>
  
    <use href="#myCircle" x="10" y="0" fill="blue" />
    <use href="#myCircle" x="20" y="0" fill="white" stroke="blue" />
  </svg>
  
  <!-- 12.g -->
  <svg width="300" height="100">
    <g id="myCircle">
      <text x="25" y="20">圆形</text>
      <circle cx="50" cy="50" r="20"/>
    </g>
  
    <use href="#myCircle" x="100" y="0" fill="blue" />
    <use href="#myCircle" x="200" y="0" fill="white" stroke="blue" />
  </svg>

  <!-- 13.defs -->
  <!-- <defs>标签用于自定义形状，除非被<use>元素引用，否则它内部的代码不会显示在屏幕上 -->
  <svg width="300" height="100">
    <defs>
      <g id="myCircle">
        <text x="25" y="20">圆形</text>
        <circle cx="50" cy="50" r="20"/>
      </g>
    </defs>
  
    <use href="#myCircle" x="0" y="0" />
    <use href="#myCircle" x="100" y="0" fill="blue" />
    <use href="#myCircle" x="200" y="0" fill="white" stroke="blue" />
  </svg>

  <!-- 14.symbol -->
  <!-- <symbol>元素定义可重复使用的符号。除非被<use>元素引用, 否则嵌套在<symbol>内的形状不会显示在屏幕上 -->
  <!-- <symbol>可以独立定义 viewBox. -->
  <svg width="450" height="450">
    <symbol id="shape1">
      <circle cx="40" cy="40" r="40" />
    </symbol>

    <use xlink:href="#shape1" x="50" y="30" />
  </svg>

  <!-- 15.pattern -->
  <!-- <pattern>标签用于自定义一个形状，该形状可以被引用来平铺一个区域 -->
  <!-- 
    <pattern>标签将一个圆形定义为dots模式。
    patternUnits="userSpaceOnUse"表示<pattern>的宽度和长度是实际的像素值。
    然后，指定这个模式去填充下面的矩形 
  -->
  <svg width="500" height="500">
    <defs>
      <pattern id="dots" x="0" y="0" width="100" height="100" patternUnits="userSpaceOnUse">
        <circle fill="#bee9e8" cx="50" cy="50" r="35" />
      </pattern>
    </defs>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#dots)" />
  </svg>

  <!-- 16.image -->
  <!-- <image>的xlink:href属性表示图像的来源 -->
  <svg viewBox="0 0 100 100" width="100" height="100">
    <!-- <image xlink:href="path/to/image.jpg" width="50%" height="50%"/> -->
  </svg>

  <!-- 17.animate -->
  <!-- 
    attributeName：发生动画效果的属性名。
    from：单次动画的初始值。
    to：单次动画的结束值。
    dur：单次动画的持续时间。
    repeatCount：动画的循环模式。
  -->
  <!-- 可以在多个属性上面定义动画 -->
  <svg width="300px" height="500px">
    <rect x="0" y="0" width="100" height="100" fill="#feac5e">
      <animate attributeName="x" from="0" to="300" dur="2s" repeatCount="indefinite" />
      <animate attributeName="width" to="300" dur="2s" repeatCount="indefinite" />
    </rect>
  </svg>

  <!-- 18.animateTransform -->
  <!-- 
    <animate>标签对 CSS 的transform属性不起作用，
    如果需要变形，就要使用<animateTransform>标签 
  -->
  <!-- 
    <animateTransform>的效果为旋转（rotate），
    这时from和to属性值有三个数字，第一个数字是角度值，第二个值和第三个值是旋转中心的坐标。
    from="0 200 200"表示开始时，角度为0，围绕(200, 200)开始旋转；
    to="360 400 400"表示结束时，角度为360，围绕(400, 400)旋转
  -->
  <svg width="500px" height="500px">
    <rect x="250" y="250" width="50" height="50" fill="#4bc0c8">
      <animateTransform attributeName="transform" type="rotate" begin="0s" dur="10s" from="0 200 200" to="360 400 400" repeatCount="indefinite" />
    </rect>
  </svg>

  <!-- 19.坐标系示例 -->
  <svg width="350" height="160">
    <g class="layer" transform="translate(60,10)">
      <circle r="5" cx="0"   cy="105" />
      <circle r="5" cx="90"  cy="90"  />
      <circle r="5" cx="180" cy="60"  />
      <circle r="5" cx="270" cy="0"   />
  
      <g class="y axis">
        <line x1="0" y1="0" x2="0" y2="120" style="stroke:rgb(0,0,0);stroke-width:1" />
        <text x="-40" y="105" dy="5">$10</text>
        <text x="-40" y="0"   dy="5">$80</text>
      </g>
      <g class="x axis" transform="translate(0, 120)">
        <line x1="0" y1="0" x2="270" y2="0" style="stroke:rgb(0,0,0);stroke-width:1" />
        <text x="-30"   y="20">January 2014</text>
        <text x="240" y="20">April</text>
      </g>
    </g>
  </svg>

  <!-- script -->
  <script type="text/javascript">

    // 读取 SVG 源码
    let svgString = new XMLSerializer().serializeToString(document.querySelector('svg'));
    console.log(svgString);
    
    // SVG 图像转为 Canvas 图像
    // 首先，需要新建一个Image对象，将 SVG 图像指定到该Image对象的src属性
    let img = new Image();
    let svg = new Blob([svgString], {type: "image/svg+xml;charset=utf-8"});

    let DOMURL = self.URL || self.webkitURL || self;
    let url = DOMURL.createObjectURL(svg);

    img.src = url;
    console.log(img);

    // 然后，当图像加载完成后，再将它绘制到<canvas>元素
    img.onload = function () {
      var canvas = document.getElementById('canvas');
      var ctx = canvas.getContext('2d');
      ctx.drawImage(img, 0, 0);
    };
  </script>
</body>
</html>